body {
  background-color: #8B4513;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0 5px;
}

#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #fff0bd;
}

h2 {
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-div {
  background-color: #8B4513;
  padding: 10px;
  margin: 0; 

}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

#img-caption {
    margin: 15px 0 5px 0;
    text-align: center;
    color: black;
}

.quote {
  text-align: left;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
   margin-inline-end: 0px;
}

cite {
  text-align: left;
}

#tribute-info {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}